{% extends '::base.admin.html.twig' %}

{% block body -%}
    <h1>ProductType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Parent</th>
                <td>{% if entity.parent %}{{ entity.parent.name }}{% else %}<span class="text-warning">Pas de parent</span>{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('producttype') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('producttype_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
