{% extends "::base.html.twig" %}

{% block bodyAttr %} class="body-grey-background"{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite'
        'bundles/adentifycommon/css/common.css'
        '@AdEntifyDashboardBundle/Resources/public/css/analytics.css'
        '@AdEntifyDashboardBundle/Resources/public/css/daterangepicker-bs3.css'
    %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {% javascripts
        '@AdEntifyDashboardBundle/Resources/public/js/moment.min.js'
        '@AdEntifyDashboardBundle/Resources/public/js/daterangepicker.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left',
                ranges: getRanges()
            });
        });

        function getRanges() {
            {% if app.request.locale == 'fr' %}
                return {
                    'Aujourd\'hui': [new Date(), new Date()],
                    'Hier': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Les 7 derniers jours': [moment().subtract('days', 6), new Date()],
                    'Les 30 derniers jours': [moment().subtract('days', 29), new Date()],
                    'Ce mois': [moment().startOf('month'), moment().endOf('month')],
                    'Le mois dernier': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                };
            {% else %}
                return {
                    'Today': [new Date(), new Date()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), new Date()],
                    'Last 30 Days': [moment().subtract('days', 29), new Date()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                };
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}
    {% include 'AdEntifyCommonBundle:Common:navbar.html.twig' %}
    <div class="dashboard-stats-container">
        {% if brand and brand.originalLogoUrl %}<div class="dashboard-logo" style="background-image: url('{{ brand.originalLogoUrl }}')"></div>
        {% elseif brand %} <h1>{{ brand.name }}</h1>
        {% else %}<h1>{{ user.fullname }}</h1>
        {% endif %}
        <div class="dashboard-content">
            <div class="dashboard-tab">
                <div>{{ 'dashboard.title.main'|trans }}</div>
            </div>
            <div class="dashboard-statistiques">
                <div class="stats-sum">{{ 'dashboard.stats.sum'|trans({'%nbTagged%': analytics.nbTagged, '%nbUsers%': analytics.nbUsers, '%nbPhotos%': analytics.nbPhotos })|raw }}</div>
                <div class="dashboard-global-analytics">
                    <div>
                        <h2>{{ 'dashboard.title.stats'|trans }}</h2>
                    </div>
                    <div class="row">
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ globalAnalytics.photosViews }}</p>
                            <label>{{ 'dashboard.tagStats.photosViews'|trans }}</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ globalAnalytics.photosHovers }}</p>
                            <label>{{ 'dashboard.tagStats.photosHovers'|trans }}</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ globalAnalytics.tagsHovers }}</p>
                            <label>{{ 'dashboard.tagStats.tagsHovers'|trans }}</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ globalAnalytics.tagsClicks }}</p>
                            <label>{{ 'dashboard.tagStats.tagsClicks'|trans }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="global-analytics col-xs-6 col-md-3">
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ globalAnalytics.photosHoversPercentage|round(2) }}%</p>
                            <label>{{ 'dashboard.tagStats.hoverRate'|trans }}</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ globalAnalytics.tagsHoversPercentage|round(2) }}%</p>
                            <label>{{ 'dashboard.tagStats.hoverRate'|trans }}</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ globalAnalytics.tagsClicksPercentage|round(2) }}%</p>
                            <label>{{ 'dashboard.tagStats.clicksRate'|trans }}</label>
                        </div>
                    </div>
                </div>
                <div class="stats-by-img">
                    <div class="pull-right">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="sr-only">{{ 'dashboard.date.filter_label'|trans }}</label>
                                    <input class="form-control" type="text" name="daterange" value="{{ daterange }}" />
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">{{ 'dashboard.date.filter_button'|trans }}</button>
                        </form>
                    </div>
                    <h2>{{ 'dashboard.title.analytics'|trans }}</h2>
                </div>

                <table class="table dashboard-photo-list">
                    <thead>
                        <tr>
                            <td>
                                {{ knp_pagination_sortable(pagination, 'dashboard.photoTab.date'|trans, 'p.createdAt') }}
                                {% if pagination.isSorted('p.createdAt') %}
                                    <span class="sort-direction glyphicon glyphicon-arrow{% if pagination.getDirection  == 'asc' %}-up{% else %}-down{% endif %}"></span>
                                {% endif %}
                            </td>
                            <td>{{ 'dashboard.photoTab.photo'|trans }}</td>
                            <td>{{ 'dashboard.photoTab.info'|trans }}</td>
                            <td>
                                {{ knp_pagination_sortable(pagination, 'dashboard.photoTab.views'|trans, 'p.viewsCount' ) }}
                                {% if pagination.isSorted('p.viewsCount') %}
                                    <span class="sort-direction glyphicon glyphicon-arrow{% if pagination.getDirection  == 'asc' %}-up{% else %}-down{% endif %}"></span>
                                {% endif %}
                            </td>
                            <td>
                                {{ knp_pagination_sortable(pagination, 'dashboard.photoTab.clicks'|trans, 'p.tagsClicksCount' ) }}
                                {% if pagination.isSorted('p.tagsClicksCount') %}
                                    <span class="sort-direction glyphicon glyphicon-arrow{% if pagination.getDirection  == 'asc' %}-up{% else %}-down{% endif %}"></span>
                                {% endif %}
                            </td>
			                <td>
                                {{ knp_pagination_sortable(pagination, 'dashboard.photoTab.interactionTime'|trans, 'p.interactionTime' ) }}
                                {% if pagination.isSorted('p.interactionTime') %}
                                    <span class="sort-direction glyphicon glyphicon-arrow{% if pagination.getDirection  == 'asc' %}-up{% else %}-down{% endif %}"></span>
                                {% endif %}
                            </td>
                            <td>
                                {{ knp_pagination_sortable(pagination, 'dashboard.photoTab.source'|trans, 'p.source' ) }}
                                {% if pagination.isSorted('p.source') %}
                                    <span class="sort-direction glyphicon glyphicon-arrow{% if pagination.getDirection  == 'asc' %}-up{% else %}-down{% endif %}"></span>
                                {% endif %}
                            </td>
                            <td>{{ 'dashboard.photoTab.action'|trans }}</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for photo in pagination %}
                            <tr>
                                <td>
                                    <div class="dashboard-date">{{ photo.createdAt|date("d/m/y") }}</div>
                                </td>
                                <td class="dashboard-photo-preview-td">
                                    <div class="dashboard-photo-preview">
                                        <a href="{{ path('dashboard_details', { 'photoId': photo.id }) }}">
                                            <img src="{{ photo.smallUrl }}"/>
                                            {#<div class="dashboard-photo-preview" style="background: url({{ photo.smallUrl }})"></div>#}
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="dashboard-photo-caption">
                                        {{ photo.caption }}
                                        <div class="dashboard-photo-author">par {{ photo.owner.fullname }}</div>
                                    </div>
                                </td>
                                <td class="dashboard-percentage-td">
                                    <div class="dashboard-percentage">{{ photo.viewsCount }}</div>
                                </td>
                                <td class="dashboard-percentage-td">
                                    <div class="dashboard-percentage">{{ photo.tagsClicksCount }}</div>
                                </td>
                                <td class="dashboard-percentage-td">
				                   <div class="dashboard-percentage">{{ (photo.interactionTime/1000)|round(2)  }}s</div>
                                </td>
                                <td>
                                    <div class="dashboard-photo-source">
                                        {% if photo.sourceUrl %}
                                            {{ photo.sourceUrl }}{% if photo.source %} - {{ photo.source }}{% endif %}
                                        {% else %}
                                            {{ photo.source }}
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <a href="{{ path('dashboard_details', { 'photoId': photo.id }) }}" class="btn btn-primary dashboard-detail-btn">Details</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">
                                    <p class="text-center text-warning">{{ 'dashboard.stats.none'|trans }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
    {% include 'AdEntifyCommonBundle:Default:footer.html.twig' %}
{% endblock %}