{% extends "::base.html.twig" %}

{% block bodyAttr %} class="body-grey-background"{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite'
    'bundles/adentifycommon/css/common.css'
    '@AdEntifyDashboardBundle/Resources/public/css/analytics.css'
    %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'AdEntifyCommonBundle:Common:navbar.html.twig' %}
    <div class="dashboard-stats-container">
        <div class="dashboard-photo-details">
            <img class="photo-details-img" src="{{ photo.largeUrl }}" />
        </div>
        <div class="dashboard-content">
            <div class="dashboard-details-title">
                <div>{% filter upper %}{{ 'dashboard.details.title.main'|trans }}{% endfilter %}</div>
            </div>
            <div class="dashboard-statistiques">
                <div class="stats-sum">{{ 'dashboard.details.stats.sum'|trans({'%nbTagged%': tags.count|default(0), '%nbUsers%': nbTaggers })|capitalize|raw }}</div>
                <div class="dashboard-global-analytics">
                    <div>
                        <h2>{{ 'dashboard.details.title.main'|trans|capitalize }}</h2>
                    </div>
                    <div class="row">
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ photo.viewsCount }}</p>
                            <label>{{ 'dashboard.details.stats.views'|trans|capitalize }}</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ photo.hoversCount }}</p>
                            <label>{{ 'dashboard.details.stats.hover'|trans|capitalize }}</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ photo.tagsHoversCount }}</p>
                            <label>{{ 'dashboard.details.stats.tags_hover'|trans|capitalize }}</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ photo.tagsClicksCount }}</p>
                            <label>{{ 'dashboard.details.stats.tags_clicks'|trans|capitalize }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p class="photo-details-time">{{ (photo.interactionTime/1000)|round(2) }}</p>
                            <label>{{ 'dashboard.main.tab.interaction_time'|trans|capitalize }}</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p class="photo-details-percentage">{{ photo.hoversPercentage|round(2) }}</p>
                            <label>{{ 'dashboard.main.stats.hover_rate'|trans|capitalize }}</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p class="photo-details-percentage">{{ photo.tagsHoversPercentage|round(2) }}</p>
                            <label>{{ 'dashboard.main.stats.hover_rate'|trans|capitalize }}</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p class="photo-details-percentage">{{ photo.tagsClicksPercentage|round(2) }}</p>
                            <label>{{ 'dashboard.main.stats.clicks_rate'|trans|capitalize }}</label>
                        </div>
                    </div>
                </div>
                <div class="stats-by-img">
                    <h2>Tags</h2>
                </div>
                <table class="table dashboard-table-photo-details">
                    <thead>
                    <tr>
                        <td>
                            {{ knp_pagination_sortable(pagination, 'dashboard.main.tab.date'|trans|capitalize, 't.createdAt') }}
                            {% if pagination.isSorted('t.createdAt') %}
                                <span class="sort-direction glyphicon glyphicon-arrow{% if pagination.getDirection  == 'asc' %}-up{% else %}-down{% endif %}"></span>
                            {% endif %}
                        </td>
                        <td>
                            {{ knp_pagination_sortable(pagination, 'dashboard.details.tab.type'|trans|capitalize, 't.type') }}
                            {% if pagination.isSorted('t.type') %}
                                <span class="sort-direction glyphicon glyphicon-arrow{% if pagination.getDirection  == 'asc' %}-up{% else %}-down{% endif %}"></span>
                            {% endif %}
                        </td>
                        <td>
                            {{ knp_pagination_sortable(pagination, 'dashboard.details.tab.title'|trans|capitalize, 't.title') }}
                            {% if pagination.isSorted('t.title') %}
                                <span class="sort-direction glyphicon glyphicon-arrow{% if pagination.getDirection  == 'asc' %}-up{% else %}-down{% endif %}"></span>
                            {% endif %}
                        </td>
                        <td>
                            {{ knp_pagination_sortable(pagination, 'dashboard.details.tab.link'|trans|capitalize, 't.link') }}
                            {% if pagination.isSorted('t.link') %}
                                <span class="sort-direction glyphicon glyphicon-arrow{% if pagination.getDirection  == 'asc' %}-up{% else %}-down{% endif %}"></span>
                            {% endif %}
                        </td>
                        <td>
                            {{ knp_pagination_sortable(pagination, 'dashboard.main.stats.hover_rate'|trans|capitalize, 't.hoversPercentage') }}
                            {% if pagination.isSorted('t.hoversPercentage') %}
                                <span class="sort-direction glyphicon glyphicon-arrow{% if pagination.getDirection  == 'asc' %}-up{% else %}-down{% endif %}"></span>
                            {% endif %}
                        </td>
                        <td>
                            {{ knp_pagination_sortable(pagination, 'dashboard.main.tab.clicks'|trans|capitalize, 't.clicksCount') }}
                            {% if pagination.isSorted('t.clicksCount') %}
                                <span class="sort-direction glyphicon glyphicon-arrow{% if pagination.getDirection  == 'asc' %}-up{% else %}-down{% endif %}"></span>
                            {% endif %}
                        </td>
                        <td>
                            {{ knp_pagination_sortable(pagination, 'dashboard.main.stats.clicks_rate'|trans|capitalize, 't.clicksPercentage') }}
                            {% if pagination.isSorted('t.clicksPercentage') %}
                                <span class="sort-direction glyphicon glyphicon-arrow{% if pagination.getDirection  == 'asc' %}-up{% else %}-down{% endif %}"></span>
                            {% endif %}
                        </td>
			            <td>
                            {{ knp_pagination_sortable(pagination, 'dashboard.main.tab.interaction_time'|trans|capitalize, 't.interactionTime') }}
                            {% if pagination.isSorted('t.interactionTime') %}
                                <span class="sort-direction glyphicon glyphicon-arrow{% if pagination.getDirection  == 'asc' %}-up{% else %}-down{% endif %}"></span>
                            {% endif %}
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tag in pagination %}
                        <tr>
                            <td>
                                {{ tag.createdAt|date("d/m/y") }}
                            </td>
                            <td>
                                {{ tag.type }}
                            </td>
                            <td>
                                <div class="dashboard-photo-details-title">
                                    {{ tag.title }}
                                </div>
                            </td>
                            <td>
                                <div class="dashboard-photo-details-link">
                                    <a href="{{ tag.link }}">{{ tag.link }}</a>
                                </div>
                            </td>
                            <td>
                                <span class="photo-details-percentage">{{ tag.hoversPercentage|round(2) }}</span>
                            </td>
                            <td>
                                <span>{{ tag.clicksCount }}</span>
                            </td>
                            <td>
                                <span class="photo-details-percentage">{{ tag.clicksPercentage|round(2) }}</span>
                            </td>
                            <td>
				                <span class="photo-details-time">{{ (tag.interactionTime/1000)|round(2) }}</span>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">
                                <p class="text-center text-warning">{{ 'dashboard.main.stats.none'|trans }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
                <a href="{{ path('dashboard_stats', { 'page': page }) }}" class="btn btn-primary btn-go-back">{{ 'dashboard.details.back_button'|trans }}</a>
            </div>
        </div>
    </div>
    {% include 'AdEntifyCommonBundle:Default:footer.html.twig' %}
{% endblock %}