{% extends "::base.html.twig" %}

{% block bodyAttr %} class="body-grey-background"{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite'
    'bundles/adentifycommon/css/common.css'
    '@AdEntifyDashboardBundle/Resources/public/css/analytics.css'
    %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'AdEntifyCommonBundle:Common:navbar.html.twig' %}
    <div class="dashboard-stats-container">
        {% if photo %}
            <div class="dashboard-photo-details" style="background-image: url('{{ photo.largeUrl }}')"></div>
        {% endif %}
        <div class="dashboard-content">
            <div class="dashboard-tab">
                <div>STATISTIQUES DE LA PHOTO {{ photoId }}</div>
            </div>
            <div class="dashboard-statistiques">
                <div class="stats-sum">{{ 'dashboard.stats.detailsSum'|trans({'%nbTagged%': tags.count, '%nbUsers%': nbTaggers })|raw }}</div>
                <div class="dashboard-global-analytics">
                    <div>
                        <h2>Statistiques de la photo</h2>
                    </div>
                    {#<div class="row">
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ globalAnalytics.photosViews }}</p>
                            <label>Impressions images</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ globalAnalytics.photosHovers }}</p>
                            <label>Survols d'images avec la marque</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ globalAnalytics.tagsHovers }}</p>
                            <label>Survols de tags de la marque</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ globalAnalytics.tagsClicks }}</p>
                            <label>Clics sur les tags de la marque</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="global-analytics col-xs-6 col-md-3">
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ globalAnalytics.photosHoversPercentage }}%</p>
                            <label>Taux de survol</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ globalAnalytics.tagsHoversPercentage }}%</p>
                            <label>Taux de survol</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ globalAnalytics.tagsClicksPercentage }}%</p>
                            <label>Taux de clics</label>
                        </div>
                    </div>#}
                </div>
                <div class="stats-by-img">
                    <h2>Tags</h2>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <td>Date de publication</td>
                        <td>Type</td>
                        <td>Lien</td>
                        <td>Titre</td>
                        <td>Taux de survols</td>
                        <td>Clics</td>
                        <td>Taux de clics</td>
                        <td>Temps d'interaction</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tag in tags.tags %}
                        <tr>
                            <td>
                                {{ tag.createdAt|date }}
                            </td>
                            <td>
                                {{ tag.type }}
                            </td>
                            <td>
                                <a href="{{ tag.link }}">{{ tag.link }}</a>
                            </td>
                            <td>
                                {{ tag.title }}
                            </td>
                            <td>
                                hover Rate
                            </td>
                            <td>
                                {{ tag.clicksCount }}
                            </td>
                            <td>
                                clicks rate
                                {#{{ tag.clicksCount }}#}
                            </td>
                            <td>
                                {{ tag.interactionTime }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if tags.count > tags.tags.pageLimit %}
                    <ul class="pagination">
                        {% set pages = (tags.count / tags.pageLimit)|ceil %}
                        {% for i in 1..pages %}
                            <li><a href="{{ path('dashboard_details', { 'photo': photoId, 'page': i }) }}">{{ i }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <a href="{{ path('dashboard_stats') }}" class="btn btn-primary">Precedent</a>
            </div>
        </div>
    </div>
    {% include 'AdEntifyCommonBundle:Default:footer.html.twig' %}
{% endblock %}