{% extends "::base.html.twig" %}

{% block bodyAttr %} class="body-grey-background"{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite'
    'bundles/adentifycommon/css/common.css'
    '@AdEntifyDashboardBundle/Resources/public/css/analytics.css'
    %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include 'AdEntifyCommonBundle:Common:navbar.html.twig' %}
    <div class="dashboard-stats-container">
        <div class="dashboard-photo-details">
            <img class="photo-details-img" src="{{ photo.largeUrl }}" />
        </div>
        <div class="dashboard-content">
            <div class="dashboard-tab">
                <div>STATISTIQUES DE LA PHOTO {{ photoId }}</div>
            </div>
            <div class="dashboard-statistiques">
                <div class="stats-sum">{{ 'dashboard.stats.detailsSum'|trans({'%nbTagged%': tags.count, '%nbUsers%': nbTaggers })|raw }}</div>
                <div class="dashboard-global-analytics">
                    <div>
                        <h2>Statistiques de la photo</h2>
                    </div>
                    <div class="row">
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ photo.viewsCount }}</p>
                            <label>Impressions images</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ photo.hoversCount }}</p>
                            <label>Survols de l'image</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ photo.tagsHoversCount }}</p>
                            <label>Survols de tags de l'image</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p>{{ photo.tagsClicksCount }}</p>
                            <label>Clics sur les tags de l'image</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p class="photo-details-time">{{ (photo.interactionTime/1000)|round(2) }}</p>
                            <label>Temps d'interaction moyen</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p class="photo-details-percentage">{{ photo.hoversPercentage|round(2) }}</p>
                            <label>Taux de survol</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p class="photo-details-percentage">{{ photo.tagsHoversPercentage|round(2) }}</p>
                            <label>Taux de survol</label>
                        </div>
                        <div class="global-analytics col-xs-6 col-md-3">
                            <p class="photo-details-percentage">{{ photo.tagsClicksPercentage|round(2) }}</p>
                            <label>Taux de clics</label>
                        </div>
                    </div>
                </div>
                <div class="stats-by-img">
                    <h2>Tags</h2>
                </div>
                <table class="table dashboard-table-photo-details">
                    <thead>
                    <tr>
                        <td>Date de publication</td>
                        <td>Type</td>
                        <td>Titre</td>
                        <td>Lien</td>
                        <td>Taux de survols</td>
                        <td>Clics</td>
                        <td>Taux de clics</td>
			            <td>Temps d'interaction moyen</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tag in tags.tags %}
                        <tr>
                            <td>
                                {{ tag.createdAt|date }}
                            </td>
                            <td>
                                {{ tag.type }}
                            </td>
                            <td>
                                <div class="dashboard-photo-details-title">
                                    {{ tag.title }}
                                </div>
                            </td>
                            <td>
                                <div class="dashboard-photo-details-link">
                                    <a href="{{ tag.link }}">{{ tag.link }}</a>
                                </div>
                            </td>
                            <td>
                                <span class="photo-details-percentage">{{ tag.hoversPercentage|round(2) }}</span>
                            </td>
                            <td>
                                <span>{{ tag.clicksCount }}</span>
                            </td>
                            <td>
                                <span class="photo-details-percentage">{{ tag.clicksPercentage|round(2) }}</span>
                            </td>
                            <td>
				                <span class="photo-details-time">{{ (tag.interactionTime/1000)|round(2) }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if tags.count > tags.tags.pageLimit %}
                    <ul class="pagination">
                        {% set pages = (tags.count / tags.pageLimit)|ceil %}
                        {% for i in 1..pages %}
                            <li><a href="{{ path('dashboard_details', { 'photoId': photoId, 'page': i }) }}">{{ i }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <a href="{{ path('dashboard_stats', { 'page': page }) }}" class="btn btn-primary btn-go-back">Precedent</a>
            </div>
        </div>
    </div>
    {% include 'AdEntifyCommonBundle:Default:footer.html.twig' %}
{% endblock %}