{% extends '::base.admin.html.twig' %}

{% block body -%}
    <h1>{{ 'Brand list'|trans }}</h1>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" href="{{ path('brands_new') }}">
                <i class="icon icon-plus icon-white"></i> {{ 'Create a new entry'|trans }}
            </a>
        </li>
    </ul>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Logo'|trans }}</th>
                <th>{{ 'Added at'|trans }}</th>
                <th>{{ 'Products count'|trans }}</th>
                <th>{{ 'Tags count'|trans }}</th>
                <th>{{ 'Venues count'|trans }}</th>
                <th>{{ 'CPT'|trans }}</th>
                <th>{{ 'Validated'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('brands_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td><img src="{{ asset(entity.smallLogoUrl) }}" /></td>
                <td>{% if entity.addedat %}{{ entity.addedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.productsCount }}</td>
                <td>{{ entity.tagsCount }}</td>
                <td>{{ entity.venuesCount }}</td>
                <td>{{ entity.costPerTag }}</td>
                <td>{% if entity.validated %}<i class="glyphicon glyphicon-ok text-success"></i>{% else %}<i class="glyphicon glyphicon-ban-circle text-danger"></i>{% endif %}</td>
                <td>
                <div class="btn-group">
                    <a class="btn btn-default" href="{{ path('brands_show', { 'id': entity.id }) }}">{{ 'show'|trans }}</a>
                    <a class="btn btn-primary" href="{{ path('brands_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'AdEntifyBackofficeBundle:Common:pagination.html.twig' with {'count': count, 'pageLimit': pageLimit, route: 'brands'} %}

{% endblock %}
