{% if form is defined %}{% form_theme form 'AdEntifyBackofficeBundle:Common:fields.html.twig' %}{% endif %}
{% if withdraw_form is defined %}{% form_theme withdraw_form 'AdEntifyBackofficeBundle:Common:fields.html.twig' %}{% endif %}
{% if edit_form is defined %}{% form_theme edit_form 'AdEntifyBackofficeBundle:Common:fields.html.twig' %}{% endif %}
{% if delete_form is defined %}{% form_theme delete_form 'AdEntifyBackofficeBundle:Common:fields.html.twig' %}{% endif %}

<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}AdEntify.com{% endblock %}</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="screen" rel="stylesheet" />
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('loggedInHome') }}">AdEntify</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="{{ 'brands'|current() }}"><a href="{{ path('brands') }}">{{ 'Brands'|trans }}</a></li>
                    <li class="{{ 'categories'|current() }}"><a href="{{ path('categories') }}">{{ 'Categories'|trans }}</a></li>
                    <li class="{{ 'users'|current() }}"><a href="{{ path('users') }}">{{ 'Users'|trans }}</a></li>
                    <li class="{{ 'producttype'|current() }}"><a href="{{ path('producttype') }}">{{ 'Product Types'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <script src="{{ asset('bundles/adentifycommon/vendor/jam/jquery/dist/jquery.js') }}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
