<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}AdEntify.com{% endblock %}</title>

        {% stylesheets
            '../app/Resources/public/css/bootstrap.min.css'
            '../app/Resources/public/css/main.css'
        %}
        <link href="{{ asset_url }}" media="screen" rel="stylesheet" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="fb-root"></div>
        {% block body %}{% endblock %}

        {#{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}#}
        {#{{ facebook_initialize({'xfbml': true}) }}#}
        <script data-main="{{ asset('bundles/adentifycommon/app/config') }}" src="{{ asset('bundles/adentifycommon/vendor/js/libs/require.js') }}"></script>
        <script>
            function goLogIn(){
                window.location = "{{ path('_security_check') }}";
            }
            /*function onFbInit() {
                if (typeof(FB) != 'undefined' && FB != null ) {
                    FB.Event.subscribe('auth.statusChange', function(response) {
                        if ((response.session || response.authResponse) && response.status === 'connected') {
                            uid = response.authResponse.userID;
                            accessToken = response.authResponse.accessToken;
                            fbStatus = response.status;

                            setTimeout(goLogIn, 500);
                        } else {
                            window.location.href = "{{ path('fos_user_security_logout') }}";
                        }
                    });
                }
            }*/
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
