<nav class="navbar navbar-inverse navbar-adentify navbar-fixed-top">
    <div class="container">

        <a href="{{ path('home_logoff') }}" class="logo-nav pull-left"></a>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('about') }}">{{ 'How it works'|trans }}</a></li>
                <li><a href="{{ path('press') }}">{{ 'Who we are'|trans }}</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
                <li><a href="{{ path('jobs') }}">{{ 'Jobs'|trans }}</a></li>
            </ul>
            <div class="pull-right">
                <div class="circle-social-icons large-icons">
                    <a href="https://www.facebook.com/pages/AdEntify/167935029970678?fref=ts"><i class="facebook-grey-circle-icon icon"></i></a>
                    <a href="https://twitter.com/adentify"><i class="twitter-grey-circle-icon icon"></i></a>
                    <a href="https://plus.google.com/u/0/b/115776105780658726605/+Adentify/posts"><i class="google-grey-circle-icon icon"></i></a>
                    <a href="http://instagram.com/adentify"><i class="pinterest-grey-circle-icon icon"></i></a>
                    <a href="http://adentify.tumblr.com"><i class="tumblr-grey-circle-icon icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</nav>