{% extends '::base.admin.html.twig' %}

{% block body -%}
    <div clas="page-header">
        <h1><i class="glyphicon glyphicon-edit"></i> {{ 'Category edit'|trans }}</h1>
    </div>

    {{ form(edit_form, {'attr': {'class' : 'form-horizontal'} }) }}

    <a class="btn btn-default" href="{{ path('categories') }}">
        {{ 'Back to the list'|trans }}
    </a>
    {{ form(delete_form) }}
{% endblock %}
