{% extends '::base.admin.html.twig' %}

{% block body -%}
    <h1>{{ 'Category'|trans }}</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>{{ 'category.name'|trans }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'category.visible'|trans }}</th>
                <td>{{ entity.visible }}</td>
            </tr>
            <tr>
                <th>{{ 'category.createdAt'|trans }}</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'category.slug'|trans }}</th>
                <td>{{ entity.slug }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <a class="btn btn-default" href="{{ path('categories') }}">
            {{ 'Back to the list'|trans }}
        </a>
        <a class="btn btn-primary" href="{{ path('category_edit', { 'id': entity.id }) }}">
            {{ 'Edit'|trans }}
        </a>
        {{ form(delete_form) }}
    </div>
{% endblock %}
