{% form_theme form 'AdEntifyCommonBundle:Form:fields.html.twig' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_errors(form) }}
    <fieldset>
        <div class="register-alert"></div>
        <div class="modal-body-wrapper register-fields">
            <div class="row">
                <div class="col-md-6">
                    {{ form_errors(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </div>
                <div class="col-md-6">
                    {{ form_errors(form.firstname) }}
                    {{ form_widget(form.lastname) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label><small>{{ 'BirthdayRequirementInfo'|trans }}</small></label>
                    {{ form_errors(form.birthday) }}
                    {{ form_widget(form.birthday) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second) }}
                </div>
            </div>
            {{ form_row(form._token) }}
            {{ form_row(form.username) }}
        </div>

        <div class="form-group">
            <div>
                {% if hideCancel is not defined or not hideCancel %}
                <button type="button" class="btn btn-link" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                {% endif %}
                <input type="submit" id="_submit" class="btn btn-red-grey-border" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </div>
    </fieldset>
</form>