{% extends '::base.admin.html.twig' %}

{% block body -%}
    {{ form(delete_form, { 'attr': {'style': 'display:none'} }) }}
    {{ form_start(edit_trans_form) }}
    {{ form_row(edit_trans_form._token) }}
    <h1>
        <i class="glyphicon glyphicon-edit"></i>
        <a>{{ 'Information edit'|trans }} #{{ entity.id }}, {{ entity.infoKey }}</a>
        <span class="pull-right">
            <a class="btn btn-default" href="{{ path ('informations') }}">{{ 'Back to the list'|trans }}</a>
            {{ form_widget(edit_trans_form.submit) }}
            <label class="btn btn-danger" for="form_delete">{{ 'Delete'|trans }}</label>
        </span>
    </h1>
    {{ form_rest(edit_trans_form) }}
    {{ form_end(edit_trans_form) }}
{% endblock %}