{% extends '::base.admin.html.twig' %}

{% block body %}
    <div>
        <h1>
            <a>{{ 'Information'|trans }} #{{ entity.id }}, {{ entity.infoKey }}</a>
            <span class="pull-right">
                <a class="btn btn-default" href="{{ path('informations') }}">
                    {{ 'Back to the list'|trans }}
                </a>
                <a class="btn btn-primary" href="{{ path('informations_edit', { 'id': entity.id }) }}">
                    {{ 'Edit'|trans }}
                </a>
                {{ form(delete_form, { 'attr': {'style': 'display:inline'} }) }}
            </span>
        </h1>
    </div>

    <div class="clearfix">&nbsp;</div>

    <div>
        {% set trans_cpt = 0 %}
        <ul class="nav nav-tabs" id="tabs">
            <li class="active"><a href={{ '#info' ~ trans_cpt }} data-toggle="tab">en</a></li>
            {% for translation in translations %}
                {% set trans_cpt = trans_cpt + 1 %}
                <li><a href={{ '#info' ~ trans_cpt }} data-toggle="tab">{{ translation['locale'] }}</a></li>
            {% endfor %}
        </ul>
        <div class="panel-body">
            <div class="tab-content">
                {% set trans_cpt = 0 %}
                <div class="tab-pane active" id="info0">
                    <div class="clearfix">&nbsp;</div>
                    <p>{{ entity.info|raw }}</p>
                </div>
                {% for translation in translations %}
                    {% set trans_cpt = trans_cpt + 1 %}
                    <div class="tab-pane" id={{ 'info' ~ trans_cpt }}>
                        <div class="clearfix">&nbsp;</div>
                        <p>{{ translation['content'] }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
    </div>
{% endblock %}