{% extends "::base.html.twig" %}

{% block body %}

    <main role="main" id="main">

        <nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <div class="pull-left">
                        <a href="./" id="logo-small"></a>
                    </div>
                    <ul class="nav">
                        <li class="active"><a href="">{{ 'Tagged photos'|trans }}</a></li>
                        <li><a href="untagged/">{{ 'Untagged photos'|trans }}</a></li>
                        <li><a href="me/tagged/">{{ 'My tagged photos'|trans }}</a></li>
                        <li><a href="me/untagged/">{{ 'My untagged photos'|trans }}</a></li>
                        <li><a href="brands/">{{ 'Brands'|trans }}</a></li>
                    </ul>
                    <div class="pull-right" id="user-account">
                        <div class="pull-right">
                            <div id="twitter-authent" class="pull-right">
                                <a href="{{ path ('_security_login_twitter')}}" id="twitter-login" class="btn btn-info btn-small{% if is_granted('ROLE_TWITTER') %} hide{% endif %}">{{ 'Log in with Twitter'|trans }}</a>
                                <a href="{{ path ('fos_user_security_logout') }}" class="btn btn-info btn-small{% if is_granted('ROLE_TWITTER') == false %} hide{% endif %}">{{ 'Log off'|trans }}</a>
                            </div>
                            <div id="facebook-authent" class="pull-right">
                                <button id="fb-login" class="btn btn-primary btn-small hide">{{ 'Log in with Facebook'|trans }}</button>
                                <button id="fb-logout" class="btn btn-primary btn-small hide">{{ 'Log off'|trans }}</button>
                            </div>
                            <div id="loading-authent" class="loading-gif-container-nomargin pull-right">
                                <div class="loading-gif"></div>
                            </div>
                        </div>
                        <div id="user-information" class="pull-right"></div>
                    </div>
                    <div class="pull-right">
                        <a href="upload/" class="btn btn-primary btn-small">{{ 'Upload photos'|trans }}</a>
                    </div>
                </div>
            </div>
        </nav>

        <div id="dashboard" class="row-fluid view-mode">

            <section id="content" class="span9">
                <div class="loading-gif-container">
                    <div class="loading-gif"></div>
                </div>
            </section>

            <aside id="menu-right" class="span3">
                <div class="loading-gif-container">
                    <div class="loading-gif"></div>
                </div>
            </aside>

        </div>

    </main>
{% endblock %}

{% block javascripts %}
    <script>
        var channelUrl = '{{ asset('channel.php') }}';
        var instagramClientId = '{{ instagram_client_id }}';
        var facebookAppId = '{{ facebook_app_id }}';
        var facebookPermissions = '{{ facebook_permissions }}';
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmrQ05zbn-02aT8wxp6Olh5MEn27ULHDg&sensor=false"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script data-main="{{ asset('bundles/adentifycommon/app/config') }}" src="{{ asset('bundles/adentifycommon/vendor/js/libs/require.js') }}"></script>
{% endblock %}