{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link href='//fonts.googleapis.com/css?family=Asap:400italic' rel='stylesheet' type='text/css'>
    {% stylesheets
    '../app/Resources/public/css/select2.css'
    '../app/Resources/public/css/jquery.fileupload-ui.css'
    %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    {% set full_root_url = root_url ~ app.request.locale ~ '/app/' %}

    <main role="main" id="main">

        <nav class="navbar navbar-inverse navbar-adentify navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse navbar-collapse">

                    <div class="row">
                        <div class="col-sm-8 col-md-9">
                            <a href="{{ full_root_url }}" class="logo-nav pull-left"></a>
                            <div class="pull-right" id="search-bar"></div>
                            <div class="pull-right">
                                <button type="button" class="navbar-toggle navbar-toggle-header-menu" data-toggle="collapse" data-target=".dropdown-header-menu">
                                    <span class="sr-only">Toggle header menu</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <div class="pull-left user-bar">
                                <div class="user-information" class="pull-right">
                                    {% if app.user %}
                                        <div class="profile-picture-wrapper pull-left">
                                            <div id="notifications" class="pull-right"></div>
                                            {% if app.user.facebookId %}
                                                <img class="profile-picture" src="https://graph.facebook.com/{{ app.user.facebookId }}/picture?width=40&height=40" />
                                            {% endif %}
                                        </div>
                                        <div class="profile-infos pull-left">
                                            <div class="dropdown-menu">
                                                <div class="white-arrow-top"></div>
                                                <ul class="list-unstyled">
                                                    <li><a href="{{ full_root_url }}{{ 'profile/%id%/'|trans({ '%id%': app.user.id }) }}"><i class="icon dashboard-icon"></i> {{ 'My profile'|trans }}</a></li>
                                                    <li><a href="{{ full_root_url }}{{ 'my/photos/'|trans }}"><i class="icon my-pictures"></i> {{ 'My photos'|trans }}</a></li>
                                                    <li><a href="{{ full_root_url }}{{ 'my/settings/'|trans }}"><i class="icon parameters-icon"></i> {{ 'My settings'|trans }}</a></li>
                                                    <li><a href="{{ full_root_url }}{{ 'my/photos/favorites/'|trans }}"><i class="icon favorites-icon"></i> {{ 'My favorites'|trans }}</a></li>
                                                    <li class="grey-background-item"><a href="{{ url('fos_user_security_logout') }}"><i class="icon cross-icon"></i> {{ 'Log out'|trans }}</a></li>
                                                </ul>
                                            </div>
                                            <div class="user-names">
                                                {% if app.user.firstname or app.user.lastname %}
                                                    {% if app.user.firstname %}{{ app.user.firstname }}{% endif %} {% if app.user.lastname %}{{ app.user.lastname }}{% endif %}
                                                {% else %}
                                                    {{ app.user.email }}
                                                {% endif %}
                                            </div>
                                            <div class="user-points">
                                                <span class="user-points-value">0</span> <sup>Pts</sup>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="account-buttons pull-left">
                                            <button data-toggle="modal" data-target="#signinModal" type="button" class="btn btn-sm signin"><i class="glyphicon glyphicon-user"></i> {{ 'Login'|trans }}</button>
                                            <button data-toggle="modal" data-target="#signupModal" type="button" class="btn btn-sm signup"><i class="glyphicon glyphicon-pencil"></i> {{ 'Sign Up'|trans }}</button>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="sprites tag-button pull-right"></div>
                        </div>
                    </div>

                    <div class="dropdown-header-menu container collapse">
                        <div class="row">
                            {% for category in categories %}
                            <div class="col-sm-4"><a href="{{ full_root_url }}{{ 'category/'|trans }}{{ category.slug }}/">{{ category.name }}</a></div>
                            {% endfor %}
                        </div>
                        <footer>
                            <div class="pull-left">
                                <a href="">{{ 'About'|trans }}</a> · <a href="">{{ 'FAQ'|trans }}</a> · <a href="">{{ 'Press'|trans }}</a> · <a href="">{{ 'Credits'|trans }}</a>
                            </div>
                            <div class="pull-right">
                                © {{ date|date('Y') }} AdEntify
                            </div>
                            <div class="clearfix"></div>
                        </footer>
                    </div>

                    {#<ul class="nav navbar-nav">
                        <li>
                            <a class="dropdown" data-toggle="dropdown" data-bypass="">{{ 'Categories'|trans }} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelleby="drop1">
                                <li role="presentation"><a role="menuitem" href="{{ full_root_url }}">{{ 'All categories'|trans }}</a></li>
                                {% for category in categories %}
                                    <li role="presentation"><a role="menuitem" href="{{ full_root_url }}{{ 'category/'|trans }}{{ category.slug }}/" data-name="{{ category.name }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{{ full_root_url }}{{ 'my/adentify/'|trans }}">{{ 'My AdEntify'|trans }}</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-bypass="">{{ 'My photos'|trans }} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelleby="drop2">
                                <li role="presentation"><a role="menuitem" href="{{ full_root_url }}{{ 'my/photos/tagged/'|trans }}">{{ 'My tagged photos'|trans }}</a></li>
                                <li role="presentation"><a role="menuitem" href="{{ full_root_url }}{{ 'my/photos/untagged/'|trans }}">{{ 'My untagged photos'|trans }}</a></li>
                                <li role="presentation"><a role="menuitem" href="{{ full_root_url }}{{ 'my/photos/favorites/'|trans }}"></a></li>
                            </ul>
                        </li>
                        <li><a href="{{ full_root_url }}{{ 'brands/'|trans }}">{{ 'Brands'|trans }}</a></li>
                        <li><a href="">{{ 'My settings'|trans }}</a></li>
                    </ul>#}

                    {#<div class="navbar-right">


                    </div>#}
                </div>
            </div>

        </nav>

        <div class="container dashboard-container">
            <div id="dashboard" class="row view-mode">

                <section id="left-pane" class="col-sm-4 col-md-3 hide"></section>

                <section id="center-pane" class="col-sm-8 col-md-9">
                    <section id="center-pane-content">
                        <div class="loading-gif-container">
                            <div class="loader rotate"></div>
                        </div>
                    </section>
                    <div class="push"></div>
                </section>

                <section id="right-pane" class="col-sm-4 col-md-3">
                    <div id="right-pane-scrollview">
                        <section id="right-pane-content">
                            <div class="loading-gif-container">
                                <div class="loader rotate"></div>
                            </div>
                        </section>
                        {#<footer>
                            <div class="links">
                                <a href="">{{ 'About'|trans }}</a> · <a href="">{{ 'FAQ'|trans }}</a> · <a href="">{{ 'Press'|trans }}</a> · <a href="">{{ 'Credits'|trans }}</a>
                            </div>
                            <div class="copyright">© {{ date|date('Y') }} AdEntify</div>
                        </footer>#}
                    </div>
                    <div class="push"></div>
                </section>
            </div>
        </div>

        <!-- Modal -->
        <div id="modal-container"></div>

        {% if app.user and app.user.isEnabed() == false %}
            <div class="modal fade" id="accountDisabled" tabindex="-1" role="dialog" aria-labelledby="accountDisabledLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="accountDisabledLabel">{{ 'Account disabled'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body-wrapper">
                                <p>{{ 'Your account is currently under validation.'|trans }}</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endif %}

        {% if not app.user %}
            <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
                <div class="modal-dialog account-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="signinModalLabel"><div class="signin-badge pull-left modal-badge"></div> {{ 'modal.login'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="grey-transparent-background social-buttons">
                                <div class="text-center">
                                    <a class="btn btn-facebook" href="https://www.facebook.com/dialog/oauth?client_id={{ facebook_app_id }}&redirect_uri={{ url('_security_check_facebook')|url_encode }}&scope={{ facebook_permissions }}&response_type=code"><i class="facebook-icon icon"></i> Facebook</a>
                                    <a class="btn btn-twitter" href="../login/twitter"><i class="twitter-icon icon"></i> Twitter</a>
                                </div>
                            </div>
                            {% render controller('FOSUserBundle:Security:login') %}
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
                <div class="modal-dialog account-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="signupModalLabel"><div class="signup_badge pull-left modal-badge"></div> {{ 'modal.signup'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            {% render controller('FOSUserBundle:Registration:register') %}
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endif %}
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        if (window.location.hash == '#_=_'){
            window.location.hash = '';
        }
        var channelUrl = '{{ asset('channel.php') }}';
        var instagramClientId = '{{ instagram_client_id }}';
        var facebookAppId = '{{ facebook_app_id }}';
        var facebookPermissions = '{{ facebook_permissions }}';
        var currentLocale = '{{ app.request.locale }}';
        var currentUserId = {{ app.user ? app.user.id : 0 }};
        var accountEnabled = {{ app.user and app.user.isEnabled() ? 1 : 0 }};
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmrQ05zbn-02aT8wxp6Olh5MEn27ULHDg&v=3&sensor=false"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script data-main="{{ asset('bundles/adentifycommon/app/config') }}" src="{{ asset('bundles/adentifycommon/vendor/js/libs/require.js') }}"></script>
{% endblock %}