{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets
    '../app/Resources/public/css/select2.css'
    %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    {% set full_root_url = root_url ~ app.request.locale ~ '/app/' %}

    <main role="main" id="main">

        <nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <div class="pull-left">
                        <a href="{{ full_root_url }}" id="logo-small"></a>
                    </div>
                    <ul class="nav">
                        <li>
                            <a class="dropdown" data-toggle="dropdown" data-bypass="">{{ 'Categories'|trans }} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelleby="drop1">
                                <li role="presentation"><a role="menuitem" href="{{ full_root_url }}">{{ 'All categories'|trans }}</a></li>
                                {% for category in categories %}
                                    <li role="presentation"><a role="menuitem" href="{{ full_root_url }}{{ 'category/'|trans }}{{ category.slug }}/" data-name="{{ category.name }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{{ full_root_url }}{{ 'my/adentify/'|trans }}">{{ 'My AdEntify'|trans }}</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-bypass="">{{ 'My photos'|trans }} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelleby="drop2">
                                <li role="presentation"><a role="menuitem" href="{{ full_root_url }}{{ 'my/photos/tagged/'|trans }}">{{ 'My tagged photos'|trans }}</a></li>
                                <li role="presentation"><a role="menuitem" href="{{ full_root_url }}{{ 'my/photos/untagged/'|trans }}">{{ 'My untagged photos'|trans }}</a></li>
                                <li role="presentation"><a role="menuitem" href="{{ full_root_url }}{{ 'my/photos/favorites/'|trans }}">{{ 'My favorites photos'|trans }}</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ full_root_url }}{{ 'brands/'|trans }}">{{ 'Brands'|trans }}</a></li>
                        <li><a href="{{ full_root_url }}{{ 'my/settings/'|trans }}">{{ 'My settings'|trans }}</a></li>
                    </ul>
                    <div id="notifications" class="pull-right"></div>
                    <div class="pull-right" id="user-account">
                        <div class="pull-right">
                            {#<div id="twitter-authent" class="pull-right">
                                <a href="{{ path ('_security_login_twitter')}}" id="twitter-login" class="btn btn-info btn-small{% if is_granted('ROLE_TWITTER') %} hide{% endif %}">{{ 'Log in with Twitter'|trans }}</a>
                                <a href="{{ path ('fos_user_security_logout') }}" class="btn btn-info btn-small{% if is_granted('ROLE_TWITTER') == false %} hide{% endif %}">{{ 'Log off'|trans }}</a>
                            </div>#}
                            <div id="facebook-authent" class="pull-right">
                                <button id="fb-login" class="btn btn-primary btn-small hide">{{ 'Log in with Facebook'|trans }}</button>
                                <button id="fb-logout" class="btn btn-primary btn-small hide">{{ 'Log off'|trans }}</button>
                            </div>
                            <div id="loading-authent" class="loading-gif-container-nomargin pull-right">
                                <div class="loading-gif"></div>
                            </div>
                        </div>
                        <div id="user-information" class="pull-right"></div>
                    </div>
                    <div class="pull-right">
                        <a href="upload/" class="btn btn-primary btn-small">{{ 'Upload photos'|trans }}</a>
                    </div>
                    <div class="pull-right" id="search-bar"></div>
                </div>
            </div>
        </nav>

        <div id="dashboard" class="row-fluid view-mode">

            <section id="content" class="span9">
                <div class="loading-gif-container">
                    <div class="loading-gif"></div>
                </div>
            </section>

            <aside id="menu-right" class="span3">
                <div class="loading-gif-container">
                    <div class="loading-gif"></div>
                </div>
            </aside>

        </div>

    </main>
{% endblock %}

{% block javascripts %}
    <script>
        if (window.location.hash == '#_=_'){
            window.location.hash = '';
        }
        var channelUrl = '{{ asset('channel.php') }}';
        var instagramClientId = '{{ instagram_client_id }}';
        var facebookAppId = '{{ facebook_app_id }}';
        var facebookPermissions = '{{ facebook_permissions }}';
        var currentLocale = '{{ app.request.locale }}';
        var currentUserId = {{ app.user.id }};
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmrQ05zbn-02aT8wxp6Olh5MEn27ULHDg&sensor=false"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script data-main="{{ asset('bundles/adentifycommon/app/config') }}" src="{{ asset('bundles/adentifycommon/vendor/js/libs/require.js') }}"></script>
{% endblock %}