{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link href='//fonts.googleapis.com/css?family=Asap:400italic' rel='stylesheet' type='text/css'>
    {% stylesheets
    '../app/Resources/public/css/select2.css'
    '../app/Resources/public/css/jquery.fileupload-ui.css'
    '../app/Resources/public/css/animate.min.css'
    '../app/Resources/public/css/introjs.min.css'
    '../app/Resources/public/css/introjs.adentify.css'
    '../app/Resources/public/css/daterangepicker-bs3.css'
    %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block meta %}
    {{ parent() }}
    <meta name="fragment" content="!">
{% endblock %}

{% block body %}

    {% set full_root_url = root_url ~ app.request.locale ~ '/app/' %}
    {% set showBecomeAmbassador = not app.user or not app.user.settings or (app.user.settings|json_decode).showBecomeAmbassador ? true : false %}

    <main role="main" id="main">

        <nav class="navbar navbar-inverse navbar-adentify navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse navbar-collapse">

                    <div class="row">
                        <div class="col-sm-8 col-md-9">
                            <a href="{{ full_root_url }}" class="logo-nav pull-left"><span>Beta</span></a>
                            <div class="text-center">
                                 <div id="dropdown-header-menu">
                                    <button type="button" class="navbar-toggle navbar-toggle-header-menu" data-toggle="collapse" data-target=".dropdown-header-menu" data-intro="{{ 'didacticiel.dropdown'|trans }}" data-position="left">
                                        <span class="sr-only">Toggle header menu</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div id="search-bar" data-intro="{{ 'didacticiel.search'|trans }}" data-position="right"></div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <div class="pull-left user-bar">
                                <div class="user-information" class="pull-right">
                                    {% if app.user %}
                                        <div class="profile-picture-wrapper pull-left" data-intro="{{ 'didacticiel.notifications'|trans }}" data-position="left">
                                            <div id="notifications" class="pull-right"></div>
                                            {% if app.user.profilePicture %}
                                                <img class="profile-picture" src="{{ app.user.profilePicture }}" />
                                            {% elseif app.user.facebookId %}
                                                <img class="profile-picture" src="https://graph.facebook.com/{{ app.user.facebookId }}/picture?width=40&height=40" />
                                            {% else %}
                                                <img class="profile-picture" src="{{ asset('img/anonymous-profile-picture.png') }}" />
                                            {% endif %}
                                        </div>
                                        <div class="profile-infos pull-left">
                                            <div class="dropdown-menu">
                                                <div class="white-arrow-top"></div>
                                                <ul class="list-unstyled">
                                                    <li><a href="{{ full_root_url }}{{ 'profile/%id%/'|trans({ '%id%': app.user.id }) }}"><i class="icon people-icon"></i> {{ 'My profile'|trans }}</a></li>
                                                    <li><a href="{{ full_root_url }}{{ 'my/photos/'|trans }}"><i class="icon my-pictures"></i> {{ 'My photos'|trans }}</a></li>
                                                    <li><a href="{{ full_root_url }}{{ 'my/dashboard/'|trans }}"><i class="icon dashboard-icon"></i> {{ 'My dashboard'|trans }}</a></li>
                                                    <li><a href="{{ full_root_url }}{{ 'my/photos/favorites/'|trans }}"><i class="icon favorites-icon"></i> {{ 'My favorites'|trans }}</a></li>
                                                    <li><a href="{{ full_root_url }}{{ 'my/brands/'|trans }}"><i class="icon glyphicon glyphicon-tag"></i> {{ 'My brands'|trans }}</a></li>
                                                    <li><a href="{{ full_root_url }}{{ 'my/settings/'|trans }}"><i class="icon parameters-icon"></i> {{ 'My settings'|trans }}</a></li>
                                                    {% if is_granted('ROLE_TEAM') %}<li><a href="{{ path('brands') }}" data-bypass=""><i class="icon glyphicon glyphicon-wrench"></i> Backoffice</a></li>{% endif %}
                                                    {% if is_granted('ROLE_ANOUNCER') %}<li><a href="{{ full_root_url }}"><i class="icon glyphicon glyphicon-wrench"></i> {{ 'My brand'|trans }}</a></li>{% endif %}
                                                    <li class="grey-background-item"><a href="{{ url('fos_user_security_logout') }}"><i class="icon cross-icon"></i> {{ 'Log out'|trans }}</a></li>
                                                </ul>
                                            </div>
                                            <div class="user-infos-wrapper" data-intro="{{ 'didacticiel.userInfos'|trans }}" data-position="left">
                                                <div class="user-names">
                                                    {% if app.user.firstname or app.user.lastname %}
                                                        {% if app.user.firstname %}{{ app.user.firstname }}{% endif %}
                                                    {% else %}
                                                        {{ app.user.username }}
                                                    {% endif %}
                                                </div>
                                                <div class="user-points"></div>
                                            </div>

                                        </div>
                                    {% else %}
                                        <div class="account-buttons pull-left">
                                            <button data-toggle="modal" data-target="#signinModal" type="button" class="btn btn-sm signin"><i class="glyphicon glyphicon-user"></i> {{ 'Login'|trans }}</button>
                                            <button data-toggle="modal" data-target="#loginModal" type="button" class="btn btn-sm signup"><i class="glyphicon glyphicon-pencil"></i> {{ 'Sign Up'|trans }}</button>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="sprites tag-button pull-right animated flash" data-intro="{{ 'didacticiel.tagButton'|trans }}" data-position="left">
                                <div class="dropdown-menu">
                                    <div class="white-arrow-top"></div>
                                    <ul class="list-unstyled">
                                        <li data-intro-param="dropdown" data-intro="{{ 'didacticiel.upload'|trans }}" data-position="left"><a href="{{ full_root_url }}{{ 'upload/'|trans }}"><i class="icon my-pictures"></i> {{ 'Upload photos'|trans }}</a></li>
                                        <li data-intro-param="dropdown" data-intro="{{ 'didacticiel.tag'|trans }}" data-position="left"><a href="{{ full_root_url }}{{ 'my/photos/'|trans }}"><i class="icon glyphicon glyphicon-tags"></i> {{ 'Tag my photos'|trans }}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown-header-menu container collapse">
                        <div class="row">
                            <div class="col-sm-3 text-red">
                                <div class="col-sm-12"><a href="{{ full_root_url }}{{ 'brands/'|trans }}">{{ 'All brands'|trans }}</a></div>
                                <div class="col-sm-12"><a href="{{ full_root_url }}{{ 'my/brands/'|trans }}">{{ 'My brands'|trans }}</a></div>
                                <div class="col-sm-12"><a data-bypass="" class="add-brand-link">{{ 'Add a brand'|trans }}</a></div>
                                <div class="col-sm-12"><a data-bypass="" class="rewards-hiw-link">{{ 'Rewards'|trans }}</a></div>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-4 text-red"><a href="{{ full_root_url }}">{{ 'Everything'|trans }}</a></div>
                                {% for category in categories %}
                                    <div class="col-sm-4"><a href="{{ full_root_url }}{{ 'category/'|trans }}{{ category.slug }}/">{{ category.name }}</a></div>
                                {% endfor %}
                            </div>
                        </div>
                        <footer>
                            <div class="pull-left">
                                <div class="circle-social-icons">
                                    <a target="_blank" href="https://www.facebook.com/pages/AdEntify/167935029970678?fref=ts"><i class="small-facebook-grey-circle-icon icon"></i></a>
                                    <a target="_blank" href="https://twitter.com/adentify"><i class="small-twitter-grey-circle-icon icon"></i></a>
                                    <a target="_blank" href="https://plus.google.com/u/0/b/115776105780658726605/+Adentify/posts"><i class="small-google-grey-circle-icon icon"></i></a>
                                    <a target="_blank" href="http://pinterest.com/adentify"><i class="small-pinterest-grey-circle-icon icon"></i></a>
                                    <a target="_blank" href="http://instagram.com/adentify"><i class="small-instagram-grey-circle-icon icon"></i></a>
                                    <a target="_blank" href="http://adentify.tumblr.com"><i class="small-tumblr-grey-circle-icon icon"></i></a>
                                </div>
                            </div>
                            <div class="pull-right">
                                <i class="pull-right glyphicon glyphicon-question-sign showDidacticiel" data-toggle="tooltip" title="{{ 'didacticiel.show'|trans }}"></i>
                                <a href="{{ path('contact') }}"><a href="{{ path('about') }}">{{ 'How it works'|trans }}</a> • <a href="{{ path('press') }}">{{ 'Who we are'|trans }}</a> • <a href="{{ path('jobs') }}">{{ 'Jobs'|trans }}</a> • <a href="{{ path('contact') }}">Contact</a> • {{ 'Advertisers'|trans }}</a> • <a href="{{ path('legal') }}">{{ 'Legal notice'|trans }}</a>
                                <span class="copyright"> © {{ date|date('Y') }} AdEntify</span>
                            </div>
                            <div class="clearfix"></div>
                        </footer>
                    </div>

                </div>
            </div>

        </nav>

        {% if showBecomeAmbassador %}
        <div class="become-ambassador">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <div class="container text-center">
                <a data-bypass="" class="rewards-hiw-link">{{ 'How do I become an ambassador?'|trans }}</a>
            </div>
        </div>
        {% endif %}

        <div class="top-progress-bar"></div>

        <div class="container dashboard-container">
            <div id="dashboard" class="row view-mode">

                <section id="left-pane" class="col-sm-3 col-md-3 hide"></section>

                <section id="center-pane" class="col-sm-12 col-md-9" data-intro="{{ 'didacticiel.photos'|trans }}" data-position="right">
                    <section id="center-pane-content">
                        <div class="loading-gif-container">
                            <div class="loader rotate"></div>
                        </div>
                    </section>
                    <div class="push"></div>
                </section>

                <section id="right-pane" class="hidden-xs hidden-sm col-md-3">
                    <section id="right-pane-content" data-intro="{{ 'didacticiel.ticker'|trans }}" data-position="left"></section>
                    <div class="push"></div>
                </section>
            </div>
        </div>

        <!-- Modals -->
        <div id="modal-container"></div>
        <div id="front-modal-container"></div>

        {% if (app.user and app.user.isEnabed() == false) or app.request.query.has('accountDisabled') %}
            <div class="modal fade" id="accountDisabled" tabindex="-1" role="dialog" aria-labelledby="accountDisabledLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="accountDisabledLabel">{{ 'Account disabled'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body-wrapper">
                                <p>{{ 'Your account is currently under validation.'|trans }}</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endif %}

        {% if not app.user %}
            <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
                <div class="modal-dialog account-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="signinModalLabel"><div class="signin-badge pull-left modal-badge"></div> {{ 'modal.login'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="grey-transparent-background social-buttons">
                                <div class="text-center">
                                    <a class="btn btn-facebook" href="https://www.facebook.com/dialog/oauth?client_id={{ facebook_app_id }}&redirect_uri={{ url('_security_check_facebook')|url_encode }}&scope={{ facebook_permissions }}&response_type=code"><i class="facebook-icon icon"></i> Facebook</a>
                                    <a class="btn btn-twitter" href="../../login/twitter"><i class="twitter-icon icon"></i> Twitter</a>
                                </div>
                            </div>
                            {% render controller('FOSUserBundle:Security:login') %}
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                <div class="modal-dialog login-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="loginModalLabel"><div class="signup_badge pull-left modal-badge"></div> {{ 'modal.signup'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <p class="headline">{{ 'modal.fbOrTwitterConnect'|trans }}</p>
                            <div class="text-center mt3 mb2">
                                <a class="btn btn-facebook-large" href="https://www.facebook.com/dialog/oauth?client_id={{ facebook_app_id }}&redirect_uri={{ url('_security_check_facebook')|url_encode }}&scope={{ facebook_permissions }}&response_type=code"><i class="facebook-icon icon"></i> {{ 'modal.facebookConnect'|trans }}</a>
                            </div>
                            <div class="text-center mb3">
                                <a class="btn btn-twitter-large" href="../login/twitter"><i class="twitter-icon icon"></i> {{ 'modal.twitterConnect'|trans }}</a>
                            </div>
                            <p><button type="button" class="btn btn-link no-account-button">{{ 'modal.noAccount'|trans }}</button></p>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
                <div class="modal-dialog account-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="signupModalLabel"><div class="signup_badge pull-left modal-badge"></div> {{ 'modal.signup'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            {% render controller('FOSUserBundle:Registration:register') %}
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endif %}
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        if (window.location.hash == '#_=_'){
            window.location.hash = '';
        }
        var channelUrl = '{{ asset('channel.php') }}';
        var instagramClientId = '{{ instagram_client_id }}';
        var flickrClientId = '{{ flickr_client_id }}';
        var facebookAppId = '{{ facebook_app_id }}';
        var facebookPermissions = '{{ facebook_permissions }}';
        var currentLocale = '{{ app.request.locale }}';
        var currentUserId = {{ app.user ? app.user.id : 0 }};
        var currentUserBirthday = '{{ app.user and app.user.birthday ? app.user.birthday|date('m/d/Y') : '' }}';
        var accountEnabled = {{ app.user and app.user.isEnabled() ? 1 : 0 }};
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR5q9gPkuTSC48dmCr1sBEKMOB2qExu3s&v=3&sensor=false"></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
        {parsetags: 'explicit'}
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script data-main="{{ asset('bundles/adentifycommon/app/config.1.1.7') }}" src="{{ asset('bundles/adentifycommon/vendor/js/libs/require.js') }}"></script>
{% endblock %}