{% extends "::base.html.twig" %}

{% block body %}

    <main role="main" id="main">

        <nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="">{{ 'Tagged photos'|trans }}</a></li>
                        <li><a href="untagged/">{{ 'Untagged photos'|trans }}</a></li>
                    </ul>
                    <div class="pull-right" id="user-account">
                        <div class="pull-right">
                            <div id="loading-fb" class="loading-gif-container-nomargin">
                                <div class="loading-gif"></div>
                            </div>
                            <button id="fb-login" class="btn btn-primary btn-small" style="display: none;">Me connecter</button>
                            <button id="fb-logout" class="btn btn-primary btn-small" style="display: none;">Me déconnecter</button>
                            <a href="{{ path ('_security_login_twitter')}}" id="twitter-login" class="btn btn-info btn-small">Me connecter</a>
                            {#{{ facebook_login_button({'autologoutlink': true}) }}#}
                        </div>
                        <div id="user-information" class="pull-right"></div>
                    </div>
                    <div class="pull-right">
                        <a href="upload/" class="btn btn-primary btn-small">{{ 'Upload photos'|trans }}</a>
                    </div>
                </div>
            </div>
        </nav>

        <div id="dashboard" class="row-fluid view-mode">

            <div id="menu-tools" class="span2">
                <div class="loading-gif-container">
                    <div class="loading-gif"></div>
                </div>
            </div>

            <div id="content" class="span9">
                <div class="loading-gif-container">
                    <div class="loading-gif"></div>
                </div>
            </div>

            <div id="ticker" class="span3">
                <div class="loading-gif-container">
                    <div class="loading-gif"></div>
                </div>
            </div>

        </div>

    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script data-main="{{ asset('bundles/adentifycommon/app/config') }}" src="{{ asset('bundles/adentifycommon/vendor/js/libs/require.js') }}"></script>
    <script>
        var channelUrl = '{{ asset('channel.html') }}';
    </script>
{% endblock %}