<footer>
    <div class="container text-center">
        <a href="">{{ 'Advertisers'|trans }}</a> • <a href="">{{ 'Press'|trans }}</a> • <a href="{{ path('about') }}">{{ 'About'|trans }}</a> • <a href="{{ path('contact') }}">{{ 'Contact'|trans }}</a> • <a href="">{{ 'Legal notice'|trans }}</a>
    </div>
</footer>