<footer class="bottom-footer">
    <div class="container text-center">
        <div class="circle-social-icons large-icons">
            <a target="_blank" href="https://www.facebook.com/pages/AdEntify/167935029970678?fref=ts"><i class="facebook-grey-circle-icon icon"></i></a>
            <a target="_blank" href="https://twitter.com/adentify"><i class="twitter-grey-circle-icon icon"></i></a>
            <a target="_blank" href="https://plus.google.com/u/0/b/115776105780658726605/+Adentify/posts"><i class="google-grey-circle-icon icon"></i></a>
            <a target="_blank" href="http://instagram.com/adentify"><i class="instagram-grey-circle-icon icon"></i></a>
            <a target="_blank" href="http://www.pinterest.com/adentify/"><i class="pinterest-grey-circle-icon icon"></i></a>
            <a target="_blank" href="http://adentify.tumblr.com"><i class="tumblr-grey-circle-icon icon"></i></a>
        </div>
        <a href="{{ path('about') }}">{{ 'How it works'|trans }}</a> •
        <a href="{{ path('press') }}">{{ 'Who we are'|trans }}</a> • <a href="{{ path('contact') }}">{{ 'Contact'|trans }}</a> •
        <a href="{{ path('jobs') }}">{{ 'Jobs'|trans }}</a> • <a href="{{ path('contact') }}">{{ 'Advertisers'|trans }}</a> • <a href="{{ path('legal') }}">{{ 'Legal notice'|trans }}</a>
    </div>
</footer>