{% extends "::base.html.twig" %}

{% block stylesheets %}
{% stylesheets filter='cssrewrite'
    'bundles/adentifycommon/css/common.css'
    'bundles/adentifycommon/css/index.css'
%}
<link href="{{ asset_url }}" media="screen" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        var channelUrl = '{{ asset('channel.html') }}';
        var facebookPermissions = '{{ facebook_permissions }}';
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% javascripts
    '@AdEntifyCommonBundle/Resources/public/vendor/jam/jquery/dist/jquery.js'
    '@AdEntifyCommonBundle/Resources/public/vendor/js/bootstrap.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {{ facebook_initialize({'xfbml': true }) }}

    <header>
        <a href="{{ path('loggedInHome', {'_locale': app.request.locale}) }}" class="start-button">
            {{ 'Start'|trans }}
        </a>
        <div class="carousel"></div>

        <h1 class="pastille-adentify">AdEntify</h1>

        <div class="account-buttons">
            <button data-toggle="modal" data-target="#signinModal" type="button" class="btn signin"><i class="icon signin-icon"></i> <span class="text">{{ 'Login'|trans }}</span></button>
            <button data-toggle="modal" data-target="#signupModal" type="button" class="btn signup"><i class="icon signup-icon"></i> <span class="text">{{ 'Sign Up'|trans }}</span></button>
        </div>

    </header>


    <div class="graphik-bg">
        <div class="container">
            <script type="text/javascript">
                function search(evt) {
                    if (document.getElementById('search-input').value) {
                        window.location.href = '{{ path('loggedInHome', {'_locale': app.request.locale}) }}{{ 'search/'|trans }}' + encodeURIComponent(document.getElementById('search-input').value);
                    }
                    return false;
                }
            </script>
            <form action="{{ path('loggedInHome', {'_locale': app.request.locale}) }}{{ 'search/'|trans }}" onsubmit="return search(this)" role="search" class="search-form">
                <input type="text" id="search-input" class="search-input" placeholder="{{ 'Search a user, place, brand...'|trans }}">
                <button type="submit" class="search-button"></button>
            </form>
        </div>
    </div>

    <div class="light-grey-bg">
        <div class="container">

            <div class="a-la-une content-block">
                <h2 class="text-center pacifico-heading">{{ 'A la une'|trans }}</h2>

                <div class="row photos">
                    {% for photo in photos %}
                        <div class="col-xs-6 col-sm-4 col-md-4 photo-wrapper">
                            <a href="{{ path('loggedInHome', {'_locale': app.request.locale}) }}{{ 'photo/%id%/'|trans({ '%id%': photo.id }) }}" class="photo" style="background-image: url({{ photo.mediumUrl }})"></a>
                        </div>
                    {% endfor %}
                </div>

                <div class="text-center"><a href="{{ path('loggedInHome', {'_locale': app.request.locale}) }}" class="btn btn-grey"><i class="glyphicon glyphicon-plus"></i> {{ 'More photos'|trans }}</a></div>
            </div>
        </div>
    </div>

    <div class="tags-count-bg">
        <div class="container text-center">
            <div class="tags-count-icon"><img src="{{ asset('bundles/adentifycommon/images/photo_count_icon.png') }}" /></div>
            <div class="counter-text">{{ 'Already'|trans }}</div>
            <div class="counter">
                {% for digit in tagsCount %}
                    <span class="counter-number">{{ digit }}</span>
                {% endfor %}
            </div>
            <div class="counter-text">tags</div>
        </div>
    </div>

    <div class="white-bg">
        <div class="container">
            <div class="content-block">
                <h2 class="text-center asap-heading">{{ 'People to follow'|trans }}</h2>

                <div class="row people-to-follow">
                    {% for user in users %}
                        <div class="col-xs-4 col-sm-4 col-md-2 text-center">
                            <a href="{{ path('loggedInHome', {'_locale': app.request.locale}) }}{{ 'profile/%id%/'|trans({'%id%': user.id}) }}">
                                <div class="profile-picture-wrapper">
                                    <img src="https://graph.facebook.com/{{ user.facebookId }}/picture?width=100&height=100" alt="{{ user.firstname }} {{ user.lastname }}" class="profile-picture" />
                                    <div class="profile-picture-hover"></div>
                                    <div class="icon_more_red"></div>
                                </div>
                                <div class="username">{{ user.firstname }} {{ user.lastname }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                {#<div class="text-center"><a href="" class="btn btn-grey"><i class="glyphicon glyphicon-plus"></i> {{ 'More members'|trans }}</a></div>#}
            </div>
        </div>
    </div>

    <div class="graphik-bg">
        <div class="container">
            <div class="content-block">
                <div class="text-center"><img src="{{ asset('bundles/adentifycommon/images/trend_topic_icon.png') }}" /></div>
                <h2 class="text-center pacifico-heading">{{ 'Trends topics'|trans }}</h2>
                <div class="mt4 mb4">{% for hashtag in hashtags %}<a href="{{ path('loggedInHome', {'_locale': app.request.locale}) }}{{ 'search/keywords'|trans({'%keywords%': hashtag.name }) }}" class="hashtag-box">#{{ hashtag.name }}</a>{% endfor %}</div>
            </div>
        </div>
    </div>

    <div class="white-bg">
        <div class="container">
            <div class="content-block">
                <h2 class="text-center asap-heading">{{ 'Most tagged Brands'|trans }}</h2>

                <div class="row mt4 mb4">
                    {% for brand in brands %}
                    <div class="col-xs-3 col-sm-2 col-md-1 brand">
                        <a href="{{ path('loggedInHome', {'_locale': app.request.locale}) }}{{ 'brand/%slug%/'|trans({'%slug%': brand.slug}) }}"><img src="{{ asset(brand.smallLogoUrl) }}" alt="{{ brand.name }}" class="brand-logo" /></a>
                    </div>
                    {% endfor %}
                </div>

                <div class="text-center"><a href="{{ path('loggedInHome', {'_locale': app.request.locale}) }}{{ 'brands/'|trans }}" class="btn btn-grey"><i class="glyphicon glyphicon-plus"></i> {{ 'More brands'|trans }}</a></div>
            </div>
        </div>
    </div>

    {% include 'AdEntifyCommonBundle:Default:footer.html.twig' %}

    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="signinModalLabel"><div class="signin-badge pull-left modal-badge"></div> {{ 'modal.login'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="grey-transparent-background social-buttons">
                        <div class="text-center">
                            <a class="btn btn-facebook" href="https://www.facebook.com/dialog/oauth?client_id={{ facebook_app_id }}&redirect_uri={{ url('_security_check_facebook')|url_encode }}&scope={{ facebook_permissions }}&response_type=code"><i class="facebook-icon icon"></i> Facebook</a>
                            <a class="btn btn-twitter" href="../login/twitter"><i class="twitter-icon icon"></i> Twitter</a>
                        </div>
                    </div>
                    {% render controller('FOSUserBundle:Security:login') %}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="signupModalLabel"><div class="signup_badge pull-left modal-badge"></div> {{ 'modal.signup'|trans }}</h4>
                </div>
                <div class="modal-body">
                    {% render controller('FOSUserBundle:Registration:register') %}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}