{% extends "::base.html.twig" %}

{% block stylesheets %}
{% stylesheets filter='cssrewrite'
    'bundles/adentifycommon/css/common.css'
    'bundles/adentifycommon/css/index.css'
%}
<link href="{{ asset_url }}" media="screen" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        var channelUrl = '{{ asset('channel.html') }}';
        var facebookPermissions = '{{ facebook_permissions }}';
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% javascripts
    '@AdEntifyCommonBundle/Resources/public/vendor/jam/jquery/dist/jquery.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('.scroller-arrow').click(function(e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            $("html, body").animate({ scrollTop: $('#begin').offset().top }, 1000);
        });

        $("a").click(function(event){
            if ($(this).attr('target') == '_blank')
                return true;
            event.preventDefault();
            linkLocation = this.href;
            $("body").fadeOut('fast', redirectPage(linkLocation));
        });

        function redirectPage(link) {
            document.location.href = link;
        }

        var SearchForm = {

            initialize: function() {
                $('.search-input').keyup(this.search).blur(SearchForm.closeSearchResults).focus(SearchForm.showSearchResults);
            },

            search: function(e) {
                e.preventDefault();
                if (e.keyCode == 13 || $(e.currentTarget).hasClass('search-button')) {
                    Backbone.history.navigate($.t('routing.search/'), { trigger: true });
                } else {
                    if (this.searchTimeout)
                        clearTimeout(this.searchTimeout);
                    this.searchTimeout = setTimeout(function() {
                        SearchForm.startSearch($('.search-input').val());
                    }, 500);
                }
            },

            startSearch: function(terms) {
                SearchForm.showSearchResults();
                if (terms) {
                    $('.search-loading').fadeIn();
                    var that = this;
                    this.requests = [];
                    this.photos = [];
                    this.brands = [];
                    this.hashtags = [];
                    this.users = [];
                    this.requests.push(new $.Deferred());
                    $.ajax({
                        url: Routing.generate('api_v1_get_photo_search'),
                        data: { 'query': terms },
                        success: function(data) {
                            if (data && typeof data.data !== 'undefined')
                            {
                                $('.search-tags-results').html('');
                                for (var i = 0; i < data.data.length; i++) {
                                    var model = data.data[i];
                                    $('.search-tags-results').append('<li><a href="app/' + '{{ 'photo/id/'|trans }}' + model.id + '/" class="item-link">\
                                    <div style="background-image: url(' + model.small_url + ')" class="photo pull-left"></div>\
                                    <div class="photo-details">' + (model.caption ? model.caption : '') + '</div></a><div class="clearfix"></div></li>');
                                }

                                if (data.data.length > 0) {
                                    $('.photos-container').fadeIn();
                                } else {
                                    $('.photos-container').fadeOut();
                                }
                            } else {
                                $('.photos-container').fadeOut();
                            }
                        },
                        complete: function() {
                            that.requests.pop().resolve();
                        },
                        error: function() {
                            that.setView('.alert-search-tags-results', new Common.Views.Alert({
                                cssClass: Common.alertError,
                                message: $.t('search.error'),
                                showClose: true
                            })).render();
                        }
                    });
                    this.requests.push(new $.Deferred());
                    $.ajax({
                        url: Routing.generate('api_v1_get_hashtag_search'),
                        data: { 'query': terms },
                        success: function(data) {
                            if (data && typeof data.data !== 'undefined')
                            {
                                $('.search-feeds-results').html('');
                                for (var i = 0; i < data.data.length; i++) {
                                    var model = data.data[i];
                                    $('.search-feeds-results').append('<li class="hashtag-item"><a href="app/{{ 'search/'|trans() }}%23' + model.name + '" class="hashtag-box">#' + model.name + '</a></li>');
                                }
                                if (data.data.length > 0) {
                                    $('.feeds-container').fadeIn();
                                } else {
                                    $('.feeds-container').fadeOut();
                                }
                            } else {
                                $('.feeds-container').fadeOut();
                            }
                        },
                        complete: function() {
                            that.requests.pop().resolve();
                        }
                    });
                    this.requests.push(new $.Deferred());
                    $.ajax({
                        url: Routing.generate('api_v1_get_user_search'),
                        data: { 'query': terms },
                        success: function(data) {
                            if (data && typeof data.data !== 'undefined')
                            {
                                $('.search-users-results').html('');
                                for (var i = 0; i < data.data.length; i++) {
                                    var model = data.data[i];
                                    $('.search-users-results').append('<li><a href="' + model.link + '">\
                                            <img src="' + (typeof model.facebook_id !== 'undefined' ? 'https://graph.facebook.com/' + model.facebook_id + '/picture?width=50&height=50' : './img/anonymous-profile-picture.png') + '" class="profile-picture" />\
                                            <span class="user-fullname">' + model.firstname + ' ' + model.lastname + '</span></a><div class="clearfix"></div></li>');
                                }

                                if (data.data.length > 0) {
                                    $('.users-container').fadeIn();
                                } else {
                                    $('.users-container').fadeOut();
                                }
                            } else {
                                $('.users-container').fadeOut();
                            }
                        },
                        complete: function() {
                            that.requests.pop().resolve();
                        }
                    });
                    this.requests.push(new $.Deferred());
                    $.ajax({
                        url: Routing.generate('api_v1_get_brand_search', { query: terms }),
                        success: function(data) {
                            if (data && typeof data.data !== 'undefined')
                            {
                                $('.search-brands-results').html('');
                                for (var i = 0; i < data.data.length; i++) {
                                    var model = data.data[i];
                                    $('.search-brands-results').append('<li class="col-xs-4 col-sm-2 brand"><div class="table-center"><div class="table-center-cell text-center"><a href="app/' + '{{ 'brand/slug/'|trans }}' + model.slug + '/" class="thumbnail">' +
                                    (model.medium_logo_url ? '<img src="' + model.medium_logo_url + '" alt="' + model.name + '" class="brand-logo" />' : model.name) + '</a></div></div></li>');
                                }

                                if (data.data.length > 0) {
                                    $('.brands-container').fadeIn();
                                } else {
                                    $('.brands-container').fadeOut();
                                }
                            } else {
                                $('.brands-container').fadeOut();
                            }
                        },
                        complete: function() {
                            that.requests.pop().resolve();
                        }
                    });
                    $.when.apply(null, this.requests).done(function() {
                        $('.search-loading').fadeOut();
                    });
                }
            },

            closeSearchResults: function() {
                setTimeout(function() { $('.dropdown-menu').hide(); }, 500);
            },

            showSearchResults: function() {
                if ($('.search-input').val().length > 0) {
                    $('.dropdown-menu').show();
                }
            }
        };

        SearchForm.initialize();
    </script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function() {
            $('.no-account-button').click(function() {
                $('#loginModal').modal('hide');
                setTimeout(function() {
                    $('#signupModal').modal('show');
                }, 500);
            });

            $('.login-form #_submit').click(function(e){
                e.preventDefault();
                $.ajax({
                    type        : $('.login-form').attr( 'method' ),
                    url         : '{{ path("fos_user_security_check") }}',
                    data        : $('.login-form').serialize(),
                    dataType    : "json",
                    success     : function(data) {
                        if (data.success)
                            window.location.href = Routing.generate('loggedInHome') + '?accountDisabled=1';
                        else
                            $('.login-alert').html("<div class='alert alert-danger'>{{ 'Your email and/or password are wrong.'|trans }}</div>")
                    },
                    error: function(){
                        $('.login-alert').html("<div class='alert alert-danger'>{{ 'Your email and/or password are wrong.'|trans }}</div>")
                    }
                });
            });

            $('.fos_user_registration_register #_submit').click(function(e) {
                e.preventDefault();
                $.ajax({
                    type        : $('.fos_user_registration_register').attr( 'method' ),
                    url         : '{{ path("fos_user_registration_register") }}',
                    data        : $('.fos_user_registration_register').serialize(),
                    dataType    : "json",
                    success     : function(data, status, object) {
                        if (data.success)
                            window.location.href = Routing.generate('loggedInHome') + '?accountDisabled=1';
                        else
                        {
                            var markup = "<div class='alert alert-danger'><ul>";
                            data.errors.forEach(function(error) {
                               markup += "<li>" + error + "</li>";
                            });
                            markup += "</ul></div>"
                            $('.register-alert').html(markup);
                        }
                    },
                    error: function(data, status, object){
                        $('.register-alert').html("<div class='alert alert-danger'>{{ 'There is an error, please retry.'|trans }}</div>")
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block body %}
    {{ facebook_initialize({'xfbml': true }) }}

    <header>
        <div class="top-fixed">
            <a href="{{ path('business') }}" class="start-button">
                {{ 'Business'|trans }}
            </a>
        </div>
        <a href="{{ path('loggedInHome', {'_locale': app.request.locale}) }}{{ 'photo/%id%/'|trans({ '%id%': 178 }) }}" class="carousel"></a>

        <a href="{{ path('about') }}">
            <h1 class="pastille-adentify">{{ 'index.pageHeading'|trans }}</h1>
        </a>

        <div class="account-buttons">
            <button data-toggle="modal" data-target="#signinModal" type="button" class="btn signin"><i class="icon signin-icon"></i> {{ 'Login'|trans }}</button>
            <button data-toggle="modal" data-target="#loginModal" type="button" class="btn signup"><i class="icon signup-icon"></i> {{ 'Sign Up'|trans }}</button>
        </div>

        <a class="scroller-arrow">
            <i class="glyphicon glyphicon-chevron-down"></i>
        </a>

    </header>

    <div class="mobile-app">
        <p>L’application adentify pour mobile est disponible sur l’<a href="https://itunes.apple.com/us/app/adentify/id937719213">App Store <i class="arrow-right"></i></a></p>
    </div>

    <div id="begin" class="red-image-bg">

        <div class="steps container">

            <p class="quote">{{ 'index.quote1'|trans }}</p>

            <div class="row">
                <div class="col-md-4">
                    <div class="step step-1">
                        <div class="number">1.</div>
                        <h2>{{ 'Post'|trans }}
                        <br><span class="text-muted">{{ 'a picture'|trans }}</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="step step-2">
                        <div class="number">2.</div>
                        <h2>{{ 'Tag'|trans }}
                        <br><span class="text-muted">{{ 'your favorite brands, places, etc'|trans }}</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="step step-3">
                        <div class="number">3.</div>
                        <h2>{{ 'Share & Earn'|trans }}
                        <br><span class="text-muted">{{ 'rewards'|trans }}</span></h2>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="signinModalLabel"><div class="signin-badge pull-left modal-badge"></div> {{ 'modal.login'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="grey-transparent-background social-buttons">
                        <div class="text-center">
                            <a class="btn btn-facebook" href="https://www.facebook.com/dialog/oauth?client_id={{ facebook_app_id }}&redirect_uri={{ url('_security_check_facebook')|url_encode }}&scope={{ facebook_permissions }}&response_type=code"><i class="facebook-icon icon"></i> Facebook</a>
                            <a class="btn btn-twitter" href="../login/twitter"><i class="twitter-icon icon"></i> Twitter</a>
                        </div>
                    </div>
                    {% render controller('FOSUserBundle:Security:login') %}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog login-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="loginModalLabel"><div class="signup_badge pull-left modal-badge"></div> {{ 'modal.signup'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p class="headline">{{ 'modal.fbOrTwitterConnect'|trans }}</p>
                    <div class="text-center mt3 mb2">
                        <a class="btn btn-facebook-large" href="https://www.facebook.com/dialog/oauth?client_id={{ facebook_app_id }}&redirect_uri={{ url('_security_check_facebook')|url_encode }}&scope={{ facebook_permissions }}&response_type=code"><i class="facebook-icon icon"></i> {{ 'modal.facebookConnect'|trans }}</a>
                    </div>
                    <div class="text-center mb3">
                        <a class="btn btn-twitter-large" href="../login/twitter"><i class="twitter-icon icon"></i> {{ 'modal.twitterConnect'|trans }}</a>
                    </div>
                    <p><button type="button" class="btn btn-link no-account-button">{{ 'modal.noAccount'|trans }}</button></p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="signupModalLabel"><div class="signup_badge pull-left modal-badge"></div> {{ 'modal.signup'|trans }}</h4>
                </div>
                <div class="modal-body">
                    {% render controller('FOSUserBundle:Registration:register') %}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="graphik-bg">
        <div class="container">
            <script type="text/javascript">
                function search(evt) {
                    if (document.getElementById('search-input').value) {
                        window.location.href = '{{ path('loggedInHome', {'_locale': app.request.locale}) }}{{ 'search/'|trans }}' + encodeURIComponent(document.getElementById('search-input').value);
                    }
                    return false;
                }
            </script>
            <div class="search">
                <form action="{{ path('loggedInHome', {'_locale': app.request.locale}) }}{{ 'search/'|trans }}" onsubmit="return search(this)" role="search" class="search-form">
                    <input type="text" id="search-input" class="search-input" placeholder="{{ 'Search a user, place, brand...'|trans }}">
                    <button type="submit" class="search-button"></button>
                </form>
                <div class="dropdown-menu">
                    <div class="white-arrow-top"></div>
                    <div class="search-results-container">
                        <div class="text-center search-loading fadeOut">{{ 'search.inProgress'|trans }} <i class="glyphicon glyphicon-refresh rotate"></i></div>
                        <div class="alert-search-results"></div>
                        <div class="photos-container fadeOut">
                            <div class="search-title">{{ 'search.photos'|trans }}</div>
                            <div class="alert-search-tags-results"></div>
                            <ul class="search-tags-results list-unstyled striped"></ul>
                        </div>
                        <div class="users-container fadeOut">
                            <div class="search-title">{{ 'search.users'|trans }}</div>
                            <div class="alert-search-users-results"></div>
                            <ul class="search-users-results list-unstyled striped"></ul>
                        </div>
                        <div class="feeds-container fadeOut">
                            <div class="search-title">{{ 'search.feeds'|trans }}</div>
                            <div class="alert-search-feeds-results"></div>
                            <ul class="search-feeds-results list-unstyled striped"></ul>
                        </div>
                        <div class="brands-container fadeOut">
                            <div class="search-title">{{ 'search.brands'|trans }}</div>
                            <div class="alert-search-brands-results"></div>
                            <ul class="search-brands-results brands list-unstyled striped"></ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="view-more-results fadeOut">
                            <a href="{{ path('loggedInHome', {'_locale': app.request.locale}) }}{{ 'search/'|trans }}">
                                <span data-i18n="search.viewMore" class="pull-left"></span>
                                <div class="pull-right red-cross-right"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="light-grey-bg">
        <div class="container">

            <div class="a-la-une content-block">
                <h2 class="text-center pacifico-heading">{{ 'A la une'|trans }}</h2>

                <div class="row photos">
                    {% for photo in photos %}
                        <div class="col-sm-4 col-md-4 photo-wrapper">
                            <a href="{{ path('loggedInHome', {'_locale': app.request.locale}) }}{{ 'photo/%id%/'|trans({ '%id%': photo.id }) }}" class="photo" style="background-image: url({{ photo.mediumUrl }})">
                                <div class="adentify-pastille-wrapper">
                                    <div class="adentify-pastille-small"></div>
                                </div>
                                <div class="white-background">
                                    <div class="table-center">
                                        <div class="table-center-cell text-center tags-count">
                                            {{ 'tags'|transchoice(photo.tags|length, {'%count%': photo.tags|length }) }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="text-center"><a href="{{ path('loggedInHome', {'_locale': app.request.locale}) }}" class="btn btn-grey"><i class="glyphicon glyphicon-plus"></i> {{ 'More photos'|trans }}</a></div>
            </div>
        </div>
    </div>

    <div class="tags-count-bg">
        <div class="container text-center">
            <div class="tags-count-icon"><img src="{{ asset('bundles/adentifycommon/images/photo_count_icon.png') }}" /></div>
            <div class="counter-text">{{ 'Already'|trans }}</div>
            <div class="counter">
                {% for digit in tagsCount %}
                    <span class="counter-number">{{ digit }}</span>
                {% endfor %}
            </div>
            <div class="counter-text">tags</div>
        </div>
    </div>

    <div class="white-bg">
        <div class="container">
            <div class="content-block">
                <h2 class="text-center asap-heading">{{ 'People to follow'|trans }}</h2>

                <div class="row people-to-follow">
                    {% for user in users %}
                        <div class="col-xs-4 col-sm-4 col-md-2 text-center">
                            <a href="{{ path('loggedInHome', {'_locale': app.request.locale}) }}{{ 'profile/%id%/'|trans({'%id%': user.id}) }}">
                                <div class="profile-picture-wrapper">
                                    <img src="https://graph.facebook.com/{{ user.facebookId }}/picture?width=100&height=100" alt="{{ user.firstname }} {{ user.lastname }}" class="profile-picture" />
                                    <div class="profile-picture-hover"></div>
                                    <div class="icon_more_red"></div>
                                </div>
                                <div class="username">{{ user.firstname }} {{ user.lastname }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                {#<div class="text-center"><a href="" class="btn btn-grey"><i class="glyphicon glyphicon-plus"></i> {{ 'More members'|trans }}</a></div>#}
            </div>
        </div>
    </div>

    <div class="graphik-bg">
        <div class="container">
            <div class="content-block">
                <div class="text-center"><img src="{{ asset('bundles/adentifycommon/images/trend_topic_icon.png') }}" /></div>
                <h2 class="text-center pacifico-heading">{{ 'Trends topics'|trans }}</h2>
                <div class="mt4 mb4">{% for hashtag in hashtags %}<a href="{{ path('loggedInHome', {'_locale': app.request.locale}) }}{{ 'search/keywords'|trans({'%keywords%': hashtag.name }) }}" class="hashtag-box">#{{ hashtag.name }}</a>{% endfor %}</div>
            </div>
        </div>
    </div>

    <div class="white-bg">
        <div class="container">
            <div class="content-block">
                <h2 class="text-center asap-heading">{{ 'Most tagged Brands'|trans }}</h2>

                <div class="row mt4 mb4">
                    {% for brand in brands %}
                    <div class="col-xs-3 col-sm-2 col-md-1 brand">
                        <div class="table-center">
                            <div class="table-center-cell text-center">
                                <a href="{{ path('loggedInHome', {'_locale': app.request.locale}) }}{{ 'brand/%slug%/'|trans({'%slug%': brand.slug}) }}">
                                    <img src="{{ asset(brand.smallLogoUrl) }}" alt="{{ brand.name }}" class="brand-logo" />
                                    <div class="tagged-count text-center">{{ 'tags'|transchoice(brand.tags|length, {'%count%': brand.tags|length }) }}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="text-center"><a href="{{ path('loggedInHome', {'_locale': app.request.locale}) }}{{ 'brands/'|trans }}" class="btn btn-grey"><i class="glyphicon glyphicon-plus"></i> {{ 'More brands'|trans }}</a></div>
            </div>
        </div>
    </div>

    {% include 'AdEntifyCommonBundle:Default:footer.html.twig' %}

{% endblock %}