{% extends "::base.html.twig" %}

{% block bodyAttr %} class="body-grey-background"{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite'
    'bundles/adentifycommon/css/common.css'
    'bundles/adentifycommon/css/contact.css'
    %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        var channelUrl = '{{ asset('channel.html') }}';
        var facebookPermissions = '{{ facebook_permissions }}';
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% javascripts
    '@AdEntifyCommonBundle/Resources/public/vendor/jam/jquery/dist/jquery.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}{{ 'legal.pageTitle'|trans }}{% endblock %}
{% block metadescription %}{{ 'legal.pageDescription'|trans }}{% endblock %}


{% block body %}

    {% include 'AdEntifyCommonBundle:Common:navbar.html.twig' %}

    <div class="container grey-border">

        <div class="text-center title">
            <h1>{{ 'Legal'|trans }}</h1>
        </div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#terms-of-use" data-toggle="tab">{{ 'Terms of Use'|trans }}</a></li>
            <li><a href="#privacy" data-toggle="tab">{{ 'Privacy'|trans }}</a></li>
            <li><a href="#legal-notices" data-toggle="tab">{{ 'Legal notices'|trans }}</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
                <div class="tab-pane active" id="terms-of-use">
                    <p> {{ 'cgu.terms_of_use'|trans({'%terms_of_use%': terms_of_use})|raw }}</p>
                </div>
                <div class="tab-pane" id="privacy">
                    <p> {{ 'cgu.privacy'|trans({'%privacy%': privacy})|raw }}</p>
                </div>
                <div class="tab-pane" id="legal-notices">
                    <p> {{ 'cgu.legal_notices'|trans({'%legal_notices%': legal_notices})|raw }}</p>
                </div>
            </div>

    </div>

    {% include 'AdEntifyCommonBundle:Default:footer.html.twig' %}

{% endblock %}